Retreiving Wealth Data from OECD Data Center 

Clean data from large downloaded csv file 

Woojin Kang (gtid : 904059831)

In [1]:
import json
import requests
import pprint
import re
import pandas as pd

In [2]:
df = pd.read_csv("unfiltered_oecd_data.csv")

In [3]:
pd.set_option("display.max_columns", None)

In [4]:
df

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Unnamed: 5,MEASURE,Unnamed: 7,UNIT_MEASURE,Unnamed: 9,AGE,Unnamed: 11,SEX,Unnamed: 13,EDUCATION_LEV,Unnamed: 15,DOMAIN,Unnamed: 17,TIME_PERIOD,Unnamed: 19,OBS_VALUE,Unnamed: 21,OBS_STATUS,Unnamed: 23,UNIT_MULT,Unnamed: 25,DECIMALS,Unnamed: 27,BASE_PER,Unnamed: 29
0,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,CZE,NaN,6_2,NaN,PO,NaN,_T,NaN,_T,NaN,_T,NaN,HSL_6,NaN,2006,NaN,509.859359,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN
1,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,CZE,NaN,6_2,NaN,PO,NaN,_T,NaN,_T,NaN,_T,NaN,HSL_6,NaN,2009,NaN,492.814094,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN
2,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,CZE,NaN,6_2,NaN,PO,NaN,_T,NaN,_T,NaN,_T,NaN,HSL_6,NaN,2012,NaN,498.957882,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN
3,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,CZE,NaN,6_2,NaN,PO,NaN,_T,NaN,_T,NaN,_T,NaN,HSL_6,NaN,2015,NaN,492.325438,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN
4,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,CZE,NaN,6_2,NaN,PO,NaN,_T,NaN,_T,NaN,_T,NaN,HSL_6,NaN,2018,NaN,499.467651,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68554,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,KOR,NaN,10_1,NaN,DT_10P5HB,NaN,_T,NaN,F,NaN,_T,NaN,HSL_10,NaN,2016,NaN,0.900000,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN
68555,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,KOR,NaN,10_1,NaN,DT_10P5HB,NaN,_T,NaN,F,NaN,_T,NaN,HSL_10,NaN,2017,NaN,0.800000,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN
68556,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,KOR,NaN,10_1,NaN,DT_10P5HB,NaN,_T,NaN,F,NaN,_T,NaN,HSL_10,NaN,2018,NaN,0.700000,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN
68557,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,KOR,NaN,10_1,NaN,DT_10P5HB,NaN,_T,NaN,F,NaN,_T,NaN,HSL_10,NaN,2019,NaN,0.700000,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN
68558,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),NaN,I,KOR,NaN,10_1,NaN,DT_10P5HB,NaN,_T,NaN,F,NaN,_T,NaN,HSL_10,NaN,2020,NaN,0.600000,NaN,A,NaN,0,NaN,2,NaN,NaN,NaN

In [5]:
def cleaning_sub_table(data, measure):
    data = data.loc[:, ["REF_AREA","TIME_PERIOD", "OBS_VALUE"]]
    data = data.reset_index(drop=True)
    data = data.rename(columns= {"OBS_VALUE":measure, "REF_AREA":"Country", "TIME_PERIOD": "Year"})
    return data

In [6]:
disposable_income = df.loc[(df["MEASURE"] == "1_1") & (df["AGE"] == "_T") & (df["SEX"]=="_T") &(df["EDUCATION_LEV"]=="_T"),["REF_AREA", "UNIT_MEASURE", "TIME_PERIOD", "OBS_VALUE", "OBS_STATUS", "DECIMALS", "BASE_PER"]]

In [7]:
disposable_income = cleaning_sub_table(disposable_income, "Disposable_Income")

In [8]:
disposable_income

    Country  Year  Disposable_Income
0       DEU  2004            36965.0
1       DEU  2005            37285.0
2       DEU  2006            37745.0
3       DEU  2007            37893.0
4       DEU  2008            38311.0
..      ...   ...                ...
607     SWE  2018            38632.0
608     SWE  2019            38821.0
609     SWE  2020            38166.0
610     SWE  2021            39404.0
611     SWE  2022            39048.0

[612 rows x 3 columns]

In [9]:
disposable_income.isnull().sum()

Country              0
Year                 0
Disposable_Income    0
dtype: int64

In [23]:
disposable_income.to_csv("disposable_income.csv", index = False)